/* NAVIGATION */
nav {
  position: absolute;
  width: 200px;
}

section {
  margin-left: 200px;
}
section .showcase {
  padding: 0;
}
section .showcase .grid {
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
section .showcase .grid .book-box {
  width: 200px;
  margin: 2rem 0.3rem;
}

@media (max-width: 500px) {
  section {
    position: relative;
    margin-left: 0;
  }
}
